RewriteEngine On
RewriteBase /

# 404 Error Page
ErrorDocument 404 /404/ 
ErrorDocument 403 /404/ 

# Disable Directory Index Viewing
Options -Indexes

# Secure .htaccess File
<Files .htaccess>
order allow,deny
deny from all
</Files>

# Secure Specific Files
<Files _includes/ssi/siteconfig.php>
order allow,deny
deny from all
</Files>