/*************************************************************************************************/
/*  Styles for the Razorfish Client Preview platfom.                                             */
/*  For documentation & support contact Garrett Gillas at Razorfish Portland.                    */
/*  Garrett.Gillas@razorfish.com                                                                 */
/*************************************************************************************************/
body{
margin:20px auto;
background-color:#fff;
font-family:"Segoe UI",Segoe,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:12px;
height:100%;}

@font-face{
font-family:'Segoe UI';
src:url('../fonts/segoeui.eot?#iefix') format('embedded-opentype'),
     url('../fonts/segoeui.woff') format('woff'),
     url('../fonts/segoeui.ttf') format('truetype')/*,
     url('../fonts/segoeui.svg#HelveticaNeueBold') format('svg')*/;
src:url('../fonts/segoeui.eot');
font-weight:normal;
font-style:normal;}

a:link, a:hover, a:visited{
color:#1a1a1a;
text-decoration:none;}

a:active, a:hover{
text-decoration:underline;}

a img{
border:none;}

h1{
font-size:17px;
line-height:17px;
font-weight:700;
margin:0px 0px 0px 0px;
padding:0 0 10px 0;
font-weight:700;
text-transform:capitalize;}

h2{
font-size:14px;
line-height:14px;
font-weight:700;
margin:30px 0px 2px 0px;
padding:0;
font-weight:700;
text-transform:uppercase;}

h3{
font-size:12px;
line-height:30px;
font-weight:700;
margin:0;
padding:0px 0 0 20px;
background-color:#1a1a1a;
color:#fff;
width:180px;
height:30px;}

header{
position:relative;
margin:0px auto 20px auto;
height:100px;
width:960px; 
background-color:#1a1a1a;}

div#content{
margin:0 auto;
width:960px;}
 
article p{
margin:0;
padding:0;
white-space:normal;}

footer{
position:relative;
margin:20px auto 0px auto;
height:60px;
width:960px;
background-color:#f2f2f2;
clear:both;}

footer p{
position:absolute;
color:#999;
margin:0;
padding:0;
top:24px;
left:40px;
font-size:11px;}

footer p#copy{
left:auto;
right:160px;}

footer p a:link, footer p a:visited{
text-decoration:none;
color:#999 !important;}

footer p a:hover{
text-decoration:underline;}

section{
position:relative;
float:none;
clear:none;
padding:0px;
width:740px;
margin:0px 0 0px 220px;
min-height:550px;}

section ul{
list-style-type:none;
padding:0;
margin:0;
margin-left:0;}

section li{
padding:0;
margin:0 0 2px 0;}

nav{
width:740px; 
font-size:10px;
line-height:10px;
margin:0px 0px 20px 0px;
padding:9px 0 9px 0;
text-transform:capitalize;;
border-bottom:1px solid #1a1a1a;
position:relative;}

hr{
width:740px;
height:0;
border-width:0 0 1px 0;
border-style:solid;
border-color:#1a1a1a; 
margin:20px 0px 20px 0px;}

aside{
background-color:#f2f2f2;
padding:0px;
width:200px;
margin:0px 0px 20px 0px;
min-height:160px;
float:left;
clear:left;;
position:static;
display:block;}

aside .asidewrap{
padding:20px;
width:160px;}

aside .asidewrap p{
margin:0;
padding:0;
line-height:16px;}

aside .asidewrap p.small{
font-size:10px;
line-height:14px;
margin:1px 0 2px 0;}

div#logo{
width:960px;
padding:0px 0 0 0px;
position:relative;}

div#logo img{
border:none;
vertical-align:middle;}

#logo2{
float:right;
clear:right;
margin:40px 40px 0 0;}

#logo3{
float:right;
clear:right;
margin:18px 25px 0 0;}

body.clientlogin .internal, body.pvtpage #iframe1{
display:none;}

/*************************************************************************************************/
/* Form Styles                                                                                   */
/*************************************************************************************************/
form input[type="submit"]{
background-color:#1a1a1a;
color:#fff;
text-transform:uppercase;
border:0;
font-size:13px;
line-height:26px;
margin:0;
padding:0px 17px;
cursor:pointer;}

form input[type="submit"]:hover{
color:#c8c8c8 !important;}

form input[type="password"], form.inline-project input[type="text"]{
border:2px solid #f2f2f2;
background-color:#f2f2f2;
line-height:16px;
padding:0 4px;
margin:0 6px;
width:130px;}

form.inline-project{
width:460px;
padding:30px;
margin:10px 0 30px 0;
background-color:#f2f2f2;
display:none;}

form.inline-project input[type="text"]{
margin:10px 10px 10px 0;
width:182px;
border:2px solid #fff;
background-color:#fff;}

form.inline-project input[type="submit"]{
margin-right:16px;}

form.new-project input[type="text"]{
border:2px solid #fff;
background-color:#fff;
line-height:16px;
padding:0 4px;
margin:10px 0px;
width:148px;}

form.new-project label{
white-space:normal;}

form input[type="password"]:active, form input[type="password"]:hover, form input[type="password"]:focus{
background-color:#fff;}

form input[type="password"]:focus, form.new-project input[type="text"]:focus, form.inline-project input[type="text"]:focus{
border:2px solid #1a1a1a;}

#form1{
position:relative;}

#form1 #form-left{
float:left;
clear:left;
width:400px;
margin:20px 0 0 0;}

#form1 #form-right{
float:right;
clear:none;
width:280px;
margin:20px 0 0 0;}

#form1 #form-right input{
float:right;
margin:0 0 0 16px;
font-weight:400;}

form input[type="submit"]{
font-weight:400;}

.wrong-pw{
color:#f10000;
text-transform:none;}

/*************************************************************************************************/
/* Accordion Menu Widget Styles                                                                  */
/*************************************************************************************************/
aside .asidewrap ul{
margin:0 0 0px 0;
padding:0;
font-weight:700;
list-style-type:none;}

aside .asidewrap ul li{
margin:1px 0 2px 0px;
padding:0;
width: 156px;
font-weight:700;
list-style-type:none;
text-transform:capitalize;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis; 
-o-text-overflow:ellipsis;}

aside .asidewrap ul li{
width:149px;}

aside.accordion, aside.accordion p, aside.accordion p a, 
aside.info, aside.info p, aside.info p a, 
aside.public, aside.public p, aside.public p a{
white-space:nowrap;
overflow:hidden;
display:block;
text-overflow:ellipsis; 
-o-text-overflow:ellipsis;
-ms-text-overflow:ellipsis;}

aside.accordion div{
-webkit-user-select:none; /* Chrome/Safari */        
-moz-user-select:none; /* Firefox */
-ms-user-select:none; /* IE10+ */
-o-user-select:none;
user-select:none;	}

aside .asidewrap ul ul li{
font-weight:400;
margin-left:7px;}

aside .asidewrap ul .internal{
color:#999;}

aside.accordion .asidewrap{
max-height:450px;
overflow-y:auto;
overflow-x:hidden;
width:156px;
padding:0 4px 0 0;
margin:20px;}

.jspContainer{
overflow:hidden;
position:relative;}

.jspPane{
position:absolute;}

.jspVerticalBar{
position:absolute;
top:0;
right:0;
width:3px;
height:100%;
background:red;}

.jspCap{
display:none;}

.jspHorizontalBar .jspCap{
float:left;}

.jspTrack{
background:#F2F2F2;
position:relative;}

.jspDrag{
background:#c4c4c4;
position:relative;
top:0;
left:0;
cursor:pointer;}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag{
float:left;
height:100%;}

.jspCorner{
background:#eeeef4;
float:left;
height:100%;}

.scroll-pane{
width:100%;
overflow:auto;}

/*************************************************************************************************/
/* Smooth Page Fade-In Effect Styles                                                             */
/*************************************************************************************************/
body{
animation:fadein .45s;
-moz-animation:fadein .45s; /* Firefox */
-webkit-animation:fadein .45s; /* Safari and Chrome */
-o-animation:fadein .45s; /* Opera */}

@keyframes fadein{
from {opacity:0;}
to {opacity:1;}
}

@-moz-keyframes fadein{ /* Firefox */
from {opacity:0;}
to {opacity:1;}
}

@-webkit-keyframes fadein{ /* Safari and Chrome */
from {opacity:0;}
to {opacity:1;}
}

@-o-keyframes fadein{ /* Opera */
from {opacity:0;}
to {opacity:1;}
}

/*************************************************************************************************/
/* Browser Support Styles (using jquery.reject.js)                                               */
/*************************************************************************************************/
#jr_overlay{
top:0;
left:0;
padding:0;
margin:0;
z-index:2147483646;
position:absolute;}

#jr_wrap{
position:absolute;
text-align:center;
width:100%;
z-index:2147483647;
padding:0;
margin:0;}

#jr_inner{
background:#FFF;
margin:0 auto;
height:auto;
padding:20px;
position:relative;}

#jr_header{
display:block;
text-align:left;}

#jr_inner p{
text-align:left;}

#jr_inner ul{
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;}

#jr_inner ul li{
cursor:pointer;
float:left;
width:120px;
height:122px;
margin:0 10px 10px 10px;
padding:0;
text-align:center;}

#jr_inner li a{
text-decoration:none;
padding:0;
margin:0;}

#jr_inner li a:hover{
text-decoration:underline;}

#jr_inner .jr_icon{
width:100px;
height:100px;
margin:1px auto;
padding:0;
background:transparent no-repeat scroll left top;
cursor:pointer;}

#jr_close{
clear:both;
text-align:right;
font-size:10px;
line-height:10px;}

#jr_close a{
display:block;
width:auto;
margin:0;
padding:0;
text-decoration:underline;}

#jr_close p{
padding:10px 0 0 0;
margin:0;}

/*************************************************************************************************/
/* Login Page Styles                                                                             */
/*************************************************************************************************/
article.login{
background-color:#f2f2f2;
padding:24px 0 0 24px;
height:141px;}

article.login h1{
margin-bottom:10px;}

article.login .loginFormRow{
width:295px;
position:relative;
padding-bottom:2px;}

article.login .loginFormRow span{
line-height:26px;}

article.login .loginFormRow input[type=submit]{
border:0;
background-color:#000;
color:#fff;
font-weight:700;}

article.login .loginFormRow input[type="text"], article.login .loginFormRow input[type="password"]{
border:2px solid #fff;
background-color:#fff;
line-height:16px;
padding:0 4px;
margin:3px 0 0 0;
width:220px;
float:right;
clear:none;}

article.login .loginFormRow input[type="submit"]{
margin:4px 0 0 63px;}

article.login .loginFormRow input[type="text"]:focus, article.login .loginFormRow input[type="password"]:focus{
border:2px solid #1a1a1a;}

article.login form{
position:relative;} 

article.login form .errorstatus{
position:absolute;
top:0px;
left:304px;} 

article.login form .errorstatus p{
/*font-size:10px;}*/
line-height:28px;}

article.login form .errorstatus a{
text-decoration:underline;}

/*************************************************************************************************/
/* Client Main Page (post login) Styles                                                          */
/*************************************************************************************************/
body.root h1, body.error h1{
margin-bottom:20px;}

body.root h2{
margin-top:6px;
margin-bottom:0px;
padding:2px 0 2px 0;}

/*************************************************************************************************/
/* Client Year Page Styles                                                                       */
/*************************************************************************************************/
body.year .pro-name{
text-transform:capitalize;}

body.year article .internal, body.year article .internal a, body article .pcolor, body article .pcolor a, 
body.pvtpage h1, body.pvtpage article h2, body.pvtpage section p, body.pvtpage section p a{
color:#999;}

body.year article .internal span a{
/*color:#1a1a1a;*/}

/*************************************************************************************************/
/* Client Asset Page Styles                                                                      */
/*************************************************************************************************/
body.client div#content, body.year .pro-name div#content, body.year p.pro-name{
position:relative;}

body.client h1{
padding-bottom:4px;}

body.root h2{
position:relative;}

body.client article{
min-height:400px;}

body.client span.edit-del, body.year .pro-name span.edit-del, body.root span.edit-del{
position:absolute;
text-transform:uppercase;
font-size:10px;
font-weight:400;
line-height:10px;
clear:none;
margin:2px 2px 0 0;
padding:0;
opacity:0;
transition:opacity .25s ease-in-out;
-moz-transition:opacity .25s ease-in-out;
-webkit-transition:opacity .25s ease-in-out;
height:14px;
top:0;
right:0;
display:inline-block;}

body.client p:hover span.edit-del, body.year p.pro-name:hover span.edit-del, body.root h2:hover span.edit-del{
opacity:1;}

body.client p.assetLinkItemContainer, body.year p.pro-name{
background-color:#fff;
background-repeat:none;
transition:background .25s ease-in-out;
-moz-transition:background .25s ease-in-out;
-webkit-transition:background .25s ease-in-out;}

body.client p.assetLinkItemContainer:hover, body.year p.pro-name:hover, body.root h2:hover{
background:#fff url("../images/bg-grey.png") repeat-x 0px 0px;} /* Rolover browser bug hack fix. */

body.clientlogin h2:hover{
background-image:none;}

body.client p.assetLinkItemContainer .assetExpand{
background-color:#fff;}

body.clientlogin p.assetLinkItemContainer:hover, body.clientlogin p.pro-name:hover{
background-image:none;}

body.client .iframe-wrapper{
width:740px;
position:relative;}

body.client p.cl2{
position:absolute;
top:30px;
right:2px;
text-transform:uppercase;
font-size:10px;
line-height:10px;
margin:0;
padding:0;
list-style:none;
opacity:0;
transition:opacity .25s ease-in-out;
-moz-transition:opacity .25s ease-in-out;
-webkit-transition:opacity .25s ease-in-out;}

body.client p.cl2 a{
cursor:pointer;}

body.client .iframe-wrapper:hover p{
opacity:1;}

body.iframe{
position:relative;
width:680px;
margin-top:0px;
overflow-x:hidden;
overflow-y:visible;
white-space:normal;}

body.iframe p{
margin:0;
padding:0;
white-space:normal;}

body.iframe textarea{
width:660px;
height:160px;
border:0px;
padding:10px;
margin-top:20px;
resize:vertical;
background-color:#F2F2F2;}

.linksContainer p{
position:relative;}

.assetExpand{
margin:10px 0 18px 0;}

.deleteButton{
display:inline-block;}

/*************************************************************************************************/
/* User Guide Page Styles                                                                        */
/*************************************************************************************************/
body.guide article p{
margin-right:20px;}

body.guide article p a{
text-decoration:underline;}

body.guide .guide-thumbs{
margin:20px auto 0 auto;
display:block;} 

body.guide .guide-labels{
position:relative;
padding-bottom:14px;}

body.guide .guide-labels span{
position:absolute;}

body.guide .guide-labels span.g-a1{
left:72px;}

body.guide .guide-labels span.g-a2{
left:297px;}

body.guide .guide-labels span.g-a3{
left:517px;}

body.guide table.guidetable{
margin:20px auto 0 auto;
display:block;
border:0px;
padding:20px 20px 15px 20px;
background-color:#F2F2F2;
min-width:480px;
max-width:555px;}

body.guide table tr td{
padding:0px 0px 5px 0px;
width: 280px;
vertical-align:top;
display:table-cell;}

body.year h1{
margin-bottom:20px;}

/*************************************************************************************************/
/* Styles for Internet Explorer                                                                  */
/*************************************************************************************************/
body.ie9 .iframe-wrapper p.cl2, body.ie10 .iframe-wrapper p.cl2, body.ie11 .iframe-wrapper p.cl2{
opacity:1;}

body.ie9 .dz-fallback{
display:none;}

body.ie9 .dz-message span{
padding-right:15px;}

/*************************************************************************************************/
/* Semi-Responsive Styling for Client Logins                                                     */
/*************************************************************************************************/
body.clientlogin header, body.clientlogin div#logo, body.clientlogin div#content, body.clientlogin footer{
width:auto;
min-width:700px;
max-width:960px;}

body.clientlogin section, body.clientlogin nav, body.clientlogin hr,  body.clientlogin .iframe-wrapper{
width:auto;
min-width:480px;
max-width:740px;} 

body.clientlogin #iframe1{
width:auto;
min-width:420px;
max-width:680px;} 
