/*************************************************************************************************/
/*  Styles for the Razorfish Client Preview platfom.                                             */
/*  For documentation & support contact Garrett Gillas at Razorfish Portland.                    */
/*  Garrett.Gillas@razorfish.com                                                                 */
/*************************************************************************************************/

body{
margin:20px auto;
background-color:#fff;
font-family:"Segoe UI",Segoe,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:12px;
height:100%;
color:#1a1a1a;}

@font-face {
font-family: 'Segoe UI';
src: url('../fonts/segoeui.eot');
src: url('../fonts/segoeui.eot?#iefix') format('embedded-opentype'),
     url('../fonts/segoeui.woff') format('woff'),
     url('../fonts/segoeui.ttf') format('truetype'),
     /*url('../fonts/segoeui.svg#HelveticaNeueBold') format('svg');*/
font-weight: normal;
font-style: normal;
}

a:link, a:hover, a:visited{
color:#1a1a1a;
text-decoration: none;}

a:active, a:hover{
text-decoration: underline;}

a img{
border:none;}

h1{
font-size:17px;
line-height:17px;
font-weight:700;
margin:0px 0px 0px 0px;
padding:0 0 10px 0;
font-weight:700;
text-transform:capitalize;}

h2{
font-size:14px;
line-height:14px;
font-weight:700;
margin:30px 0px 2px 0px;
padding:0;
font-weight:700;
text-transform:uppercase;}

h3{
font-size:12px;
line-height: 30px;
font-weight: 700;
margin: 0;
padding: 0px 0 0 20px;
background-color: #1a1a1a;
color: #fff;
width: 180px;
height: 30px;}

header{
position:relative;
margin:0px auto 20px auto;
height:100px;
width:960px;
background-color:#1a1a1a;}

div#content{
margin:0 auto 0 auto;
width:960px;}
 
article p{
margin:0;
padding:0;
white-space: normal;}

footer{
position:relative;
margin:20px auto 0px auto ;
height:60px;
width:960px;
background-color:#f2f2f2;
clear:both;}

footer p{
position:absolute;
color:#999;
margin:0;
padding:0;
top:24px;
left:40px;
font-size:11px;}

footer p#copy{
left:620px;}

footer p a:link, footer p a:visited{
text-decoration: none;
color:#999 !important;}

footer p a:hover{
text-decoration:underline;}

section{
position:relative;
float:none;
clear:none;
padding:0px;
width:740px;
margin:0px 0 0px 220px;
min-height:550px;}

section ul{
list-style-type:none;
padding:0;
margin:0;
margin-left:0;}

section li{
padding:0;
margin:0 0 2px 0;}

nav{
width:740px;
font-size: 10px;
line-height: 10px;
margin:0px 0px 20px 0px;
padding: 9px 0 9px 0;
text-transform: capitalize;;
border-bottom: 1px solid #1a1a1a;
position:relative;}

hr{
width:740px;
height:0;
border-width:0 0 1px 0;
border-style:solid;
border-color:#1a1a1a; 
margin:20px 0px 20px 0px;
}

aside{
background-color:#f2f2f2;
padding:0px;
width:200px;
margin:0px 0px 20px 0px;
min-height:160px;
float:left;
clear:left;;
position:static;
display:block;}

aside .asidewrap{
padding:20px;
width:160px;}

aside .asidewrap p{
margin:0;
padding:0;
line-height:16px;}

aside .asidewrap p.small{
font-size:10px;
line-height:14px;
margin:1px 0 2px 0;}

div#logo{
width:935px;
padding:31px 0 0 25px;
position:relative;}

div#logo img{
border:none;
vertical-align:middle;}

#logo2{
float:right;
clear:right;
margin:0px 33px 0 0;}

#logo3{
float:right;
clear:right;
margin:18px 25px 0 0;}

/*************************************************************************************************/
/* Form Styles                                                                                   */
/*************************************************************************************************/
form input[type="submit"]{
background-color:#1a1a1a;
color:#fff;
text-transform:uppercase;
border:0;
font-size:13px;
line-height:26px;
margin:0;
padding: 0px 17px;
cursor:pointer;}

form input[type="submit"]:hover{
color:#c8c8c8 !important;}

form input[type="password"]{
border:2px solid #f2f2f2;
background-color:#f2f2f2;
line-height:16px;
padding:0 4px;
margin:0 6px;
width:130px;}

form input[type="password"]:active, form input[type="password"]:hover, form input[type="password"]:focus{
background-color:#fff;}

form input[type="password"]:focus{
border:2px solid #1a1a1a;}

#form1{
position:relative;}

#form1 #form-left{
float:left;
clear:left;
width:400px;
margin:20px 0 0 0;}

#form1 #form-right{
float:right;
clear:none;
width:280px;
margin:20px 0 0 0;}

#form1 #form-right input{
float:right;
margin:0 0 0 16px;}

.wrong-pw{
color:#f10000;}

/*************************************************************************************************/
/* Accordion Menu Widget Styles                                                                  */
/*************************************************************************************************/
aside .asidewrap ul{
margin:0 0 0px 0;
padding:0;
font-weight:700;
list-style-type:none;}

aside .asidewrap ul li{
margin:1px 0 2px 0px;
padding:0;
font-weight:700;
list-style-type:none;
text-transform: capitalize;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis; 
-o-text-overflow: ellipsis;}

aside .asidewrap p{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis; 
-o-text-overflow: ellipsis;}

aside .asidewrap ul ul li{
font-weight:400;
margin-left:7px;}

aside.accordion .asidewrap{
max-height:370px;
overflow-y:auto;
overflow-x:hidden;
width:156px;
padding:0 4px 0 0;
margin:20px;}

.jspContainer{
overflow: hidden;
position: relative;}

.jspPane{
position: absolute;}

.jspVerticalBar{
position: absolute;
top: 0;
right: 0;
width: 3px;
height: 100%;
background: red;}

.jspCap{
display: none;}

.jspHorizontalBar .jspCap{
float: left;}

.jspTrack{
background: #F2F2F2;
position: relative;}

.jspDrag{
background: #c4c4c4;
position: relative;
top: 0;
left: 0;
cursor: pointer;}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag{
float: left;
height: 100%;}

.jspCorner{
background: #eeeef4;
float: left;
height: 100%;}

.scroll-pane{
width: 100%;
overflow: auto;}

/*************************************************************************************************/
/* Login Page Styles                                                                             */
/*************************************************************************************************/
article.login{
background-color:#f2f2f2;
padding:24px 0 0 24px;
height:141px;}

article.login h1{
margin-bottom:10px;}

article.login .loginFormRow{
width:295px;
position:relative;
padding-bottom:2px;}

article.login .loginFormRow span{
line-height: 26px;}

article.login .loginFormRow input[type=submit]{
border:0;
background-color:#000;
color:#fff;}

article.login .loginFormRow input[type="text"], article.login .loginFormRow input[type="password"]{
border:2px solid #fff;
background-color:#fff;
line-height:16px;
padding:0 4px;
margin:3px 0 0 0;
width:220px;
float: right;
clear: none;}

article.login .loginFormRow input[type="submit"]{
margin:4px 0 0 63px;}

article.login .loginFormRow input[type="text"]:focus, article.login .loginFormRow input[type="password"]:focus{
border:2px solid #1a1a1a;}

/*************************************************************************************************/
/* Client Main Page (post login) Styles                                                          */
/*************************************************************************************************/
body.root h1{
margin-bottom:20px;}

body.root h2{
margin-top:10px;}

/*************************************************************************************************/
/* Client Asset Page Styles                                                                      */
/*************************************************************************************************/
body.client div#content{
position:relative;}

body.client span.edit-del{
position:absolute;
text-transform: uppercase;
font-size: 10px;
line-height: 10px;
clear: none;
margin:2px 2px 0 0;
padding:0;
opacity: 0;
transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;
height: 14px;
top:0;
right:0;
display:inline-block;}

body.client p:hover span.edit-del{
opacity: 1;}

/*
body.client p{
background-color:#fff;
transition: background .25s ease-in-out;
-moz-transition: background .25s ease-in-out;
-webkit-transition: background .25s ease-in-out;}

body.client p:hover{
background-color:#f2f2f2;}
*/

body.client .iframe-wrapper{
width:740px;
position:relative;}

body.client p.cl2{
position:absolute;
top:30px;
right:2px;
text-transform: uppercase;
font-size: 10px;
line-height: 10px;
margin:0;
padding:0;
list-style: none;
opacity: 0;
transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;}

body.client p.cl2 a{
cursor:pointer;}

body.client .iframe-wrapper:hover p{
opacity: 1;}

body.iframe{
position:relative;
width:680px;
overflow-x:hidden;
overflow-y:visible;
white-space: normal;}

body.iframe p{
margin:0;
padding:0;
white-space: normal;}

body.iframe textarea{
width: 660px;
height: 80%;
border: 0px;
padding: 10px;
resize:vertical;
background-color:#F2F2F2;}

.linksContainer p{
position:relative;}

.assetExpand{
margin: 10px 0 18px 0;}

.deleteButton{
display:inline-block;}

/*************************************************************************************************/
/* User Guide Page Styles                                                                        */
/*************************************************************************************************/
body.guide article p{
margin-right:20px;}

body.guide article p a{
text-decoration:underline;}

body.guide .guide-thumbs{
margin:20px 0 0 60px;}

body.guide .guide-labels{
position:relative;
padding-bottom:14px;}

body.guide .guide-labels span{
position:absolute;}

body.guide .guide-labels span.g-a1{
left: 65px;}

body.guide .guide-labels span.g-a2{
left: 290px;}

body.guide .guide-labels span.g-a3{
left: 510px;}

body.guide table{
margin:20px 0 0 64px;
border:0px;
padding:20px 20px 15px 20px;
background-color:#F2F2F2;}

body.guide table tr td{
padding:0px 0px 5px 0px;
vertical-align:top;}

body.year h1{
margin-bottom: 20px;}